@model Sistema_de_gestion_de_nominas.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    if (Model.isReport)
    {
        <h1>Reporte de empleados</h1>
        <br />
        using (Html.BeginForm("Index", "Employees"))
        {
            <div class="form-group" style="float:right; width:120px; display:inline;">

                @Html.Label("Estado", "Active")
                @Html.DropDownList("active", new List<SelectListItem>
                 { new SelectListItem { Text = "Activo", Value = "1"},
                   new SelectListItem { Text = "Inactivo", Value = "2"},
                   }, "Estado", new { @class = "form-control" })

                @Html.HiddenFor(e => e.isReport)
                <input type="submit" class="btn btn-dark" value="Filtrar" />
            </div>
        }
    }
    else
    {
        <h1>Administrar empleados</h1>
        <br />
        <button class="btn btn-primary">@Html.ActionLink("Crear empleado", "Edit", "Employees", new { id = 0 }, new { style = "color:white" })</button>
    }
}



@if (Model.employeeList.Count() == 0)
{
    <h3>No hay ningun empleado, @Html.ActionLink("crea uno!", "Edit", "Employees") </h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Sexo</th>
                <th style="text-align:right" scope="col">Sueldo bruto</th>
                <th scope="col">Activo</th>
                @if (!Model.isReport)
                {
                    <th scope="col">Opciones</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.employeeList)
            {
                <tr>
                    <th>@employee.Id</th>
                    <td>@employee.Name</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Genre</td>
                    <td style="text-align:right">@string.Format("{0:N0}", employee.GrossSalary) </td>
                    <td>@{var text = employee.Active ? "Si" : "No";} @text </td>
                    @if (!Model.isReport)
                    {
                        <td>
                            <button class="btn btn-warning">@Html.ActionLink("Editar", "Edit", "Employees", new { id = employee.Id }, new { style = "color:white" })</button>
                            <button class="btn btn-danger">@Html.ActionLink("Eliminar", "Delete", "Employees", new { id = employee.Id }, new { style = "color:white" })</button>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
}






