@model IEnumerable<Sistema_de_gestion_de_nominas.Models.Payroll>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle de la nomina</h1>
<br />
<button class="btn btn-primary">@Html.ActionLink("Agregar empleado a la nomina", "Edit", "Payroll", new { id = 0 }, new { style = "color:white" })</button>
@if (Model.Count() == 0)
{
    <h3>No hay ningun empleado en la nomina, @Html.ActionLink("agrega uno!","Edit", "Payroll") </h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Empleado Id</th>
                <th scope="col">Sueldo Bruto</th>
                <th scope="col">AFP</th>
                <th scope="col">ARS</th>
                <th scope="col">Sueldo imponible</th>
                <th scope="col">ISR</th>
                <th scope="col">Total retencion</th>
                <th scope="col">Sueldo neto</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var nomina in Model)
            {
                <tr>
                    <th>@nomina.Id</th>
                    <td>@nomina.Employee.Name</td>
                    <td>@string.Format("{0:N0}", nomina.GrossSalary)</td>
                    <td>@string.Format("{0:N0}", nomina.RetentionAfp)</td>
                    <td>@string.Format("{0:N0}", nomina.RetentionArs)</td>
                    <td>@string.Format("{0:N0}", nomina.TaxableSalary)</td>
                    <td>@string.Format("{0:N0}", nomina.RetentionIsr)</td>
                    <td>@string.Format("{0:N0}", nomina.RetentionTotal)</td>
                    <td>@string.Format("{0:N0}", nomina.NetIncome)</td>
                    @*<td><button class="btn btn-warning">@Html.ActionLink("Editar", "Edit", "Employees", new { id = nomina.Id }, new { style = "color:white" })</button></td>*@
                    <td><button class="btn btn-danger">@Html.ActionLink("Eliminar", "Delete", "Payroll", new { id = nomina.Id }, new { style = "color:white" })</button></td>
                </tr>
            }
        </tbody>
    </table>
}






